In [2]:
import os
import pandas as pd

# Transform

In [22]:
museums_df = pd.read_csv('Data/museums.csv')
museums_df = museums_df.drop(columns=["Alternate Name", "Institution Name"])
museums_df.head()

C:\Users\SMKazmi\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (9,14,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Museum ID,Museum Name,Legal Name,Museum Type,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),Street Address (Physical Location),City (Physical Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,NaN,NaN,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,NaN,NaN,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,9711 KENAI SPUR HWY,KENAI,AK,99611,NaN,NaN,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,HISTORIC PRESERVATION,214 BIRCH STREET,KENAI,AK,99611,NaN,NaN,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,NaN,NaN,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0

In [23]:
museums_df.dropna(how="any")

,Museum ID,Museum Name,Legal Name,Museum Type,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),Street Address (Physical Location),City (Physical Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
6,8400200078,ALASKA JEWISH MUSEUM,ALASKA JEWISH HISTORICAL MUSEUM AND CULTURAL C...,GENERAL MUSEUM,1117 E 35TH AVE,ANCHORAGE,AK,99508,1221 E 35TH AVENUE,ANCHORAGE,...,61.18946,-149.86071,1.0,20.0,2.0,6,711010049,201312.0,2658938.0,34374.0
8,8400200107,ALASKA MASONIC LIBRARY AND MUSEUM FOUNDATION,ALASKA MASONIC LIBRARY AND MUSEUM FOUNDATION,GENERAL MUSEUM,PO BOX 190668,ANCHORAGE,AK,99519,606 W 4TH AVE,ANCHORAGE,...,61.21833,-149.89456,1.0,20.0,2.0,6,920095561,201406.0,0.0,0.0
19,8400200087,ALASKA ZOO,ALASKA ZOO,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",4731 OMALLEY RD,ANCHORAGE,AK,99507,4731 OMALLEY RD,ANCHORAGE,...,61.12476,-149.79254,1.0,20.0,2.0,6,920039344,201312.0,3310088.0,2393748.0
22,8400200152,ALUTIIQ HERITAGE ENDOWMENT,THE ALUTIIQ HERITAGE ENDOWMENT,HISTORIC PRESERVATION,4300 B ST STE 407,ANCHORAGE,AK,99503,4300 B ST,ANCHORAGE,...,61.18152,-149.88518,1.0,20.0,2.0,6,920177435,201312.0,331826.0,15734.0
28,8400200125,ANCHORAGE MUSEUM,ANCHORAGE MUSEUM FOUNDATION,GENERAL MUSEUM,121 WEST SEVENTH AVENUE,ANCHORAGE,AK,99501,625 C STREET,ANCHORAGE,...,61.21608,-149.88530,1.0,20.0,2.0,6,920129376,201312.0,6851982.0,4116780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33030,8405600191,TETON SCIENCE SCHOOLS,TETON SCIENCE SCHOOLS,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",700 COYOTE CANYON ROAD,JACKSON,WY,83001,700 COYOTE CANYON ROAD,JACKSON,...,43.49105,-110.81023,4.0,39.0,56.0,5,830219163.0,201405.0,13311696.0,13209482.0
33053,8405600088,WESTON COUNTY MUSEUM DISTRICT FOUNDATION,WESTON COUNTY MUSEUM DISTRICT FOUNDATION,GENERAL MUSEUM,PO BOX 698,NEWCASTLE,WY,82701,401 DELAWARE,NEWCASTLE,...,43.85141,-104.19313,3.0,45.0,56.0,5,680508169.0,201312.0,0.0,0.0
33054,8405600156,WIND RIVER HERITAGE CENTER,WIND RIVER HERITAGE CENTER,HISTORY MUSEUM,PO BOX 206,RIVERTON,WY,82501,1075 S FEDERAL BLVD,RIVERTON,...,43.03511,-108.38050,3.0,13.0,56.0,5,830317404.0,201412.0,36773.0,36399.0
33068,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,GENERAL MUSEUM,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,2301 CENTRAL AVENUE,CHEYENNE,...,41.13941,-104.81813,1.0,21.0,56.0,5,237368629.0,201404.0,0.0,0.0
33070,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,HISTORY MUSEUM,PO BOX 704,CHEYENNE,WY,82003,121 W 15TH ST SUITE 300,CHEYENNE,...,41.13010,-104.81916,1.0,21.0,56.0,5,830295570.0,201309.0,0.0,0.0