In [2]:
import pandas as pd
import numpy as np

# Identifying and selecting fields

#### List of All columns from source

In [3]:
# museums_df = pd.read_csv('../Data/museums.csv', low_memory=False)
# museums_df.dtypes

In [4]:
# create a new dataframe with selected columns from original dataframe 
# To achieve this, you can either select columns that are required
# OR drop columns that are not required
# we are using drop columns . since we are not using inline=True option, the original dataframe is still intact
#clean_museums_df = museums_df.drop(columns=["Alternate Name", "Institution Name"])

#clean_museums_df.to_csv('museums_new.csv', index=False)
#I am using this just to rename columns. Taking a shortcut.

In [5]:
# Renamed columns to Museum_ID,Museum_Name,Legal_Name,Museum_Type,Street_Add_AdmLoc),City_AdmLoc,State_AdmLoc,Zip_AdmLoc,Street_Add_PhyLoc,City_PhyLoc,State_PhyLoc,Zip_PhyLoc,Phone_Number,Latitude,Longitude,Locale_Code_NCES,FIPS_County,FIPS_State,Region_Code_AAM,Employer_ID,Tax_Period,Income,Revenue
clean_museums_df = pd.read_csv('museums_new.csv',low_memory=False)
clean_museums_df.dtypes

Museum_ID              int64
Museum_Name           object
Legal_Name            object
Museum_Type           object
Street_Add_AdmLoc     object
City_AdmLoc           object
State_AdmLoc          object
Zip_AdmLoc            object
Street_Add_PhyLoc     object
City_PhyLoc           object
State_PhyLoc          object
Zip_PhyLoc           float64
Phone_Number          object
Latitude             float64
Longitude            float64
Locale_Code_NCES     float64
FIPS_County          float64
FIPS_State           float64
Region_Code_AAM        int64
Employer_ID           object
Tax_Period           float64
Income               float64
Revenue              float64
dtype: object

In [6]:
# Check to make sure there is no duplicates or ambigious data 
clean_museums_df.loc[clean_museums_df['Museum_Name'] == clean_museums_df['Legal_Name']]

clean_museums_df.loc[clean_museums_df['Museum_Name'] != clean_museums_df['Legal_Name']]
# Almost half the records have a different leagal name . This field is useful if we were to get their revenue info.

,Museum_ID,Museum_Name,Legal_Name,Museum_Type,Street_Add_AdmLoc,City_AdmLoc,State_AdmLoc,Zip_AdmLoc,Street_Add_PhyLoc,City_PhyLoc,...,Latitude,Longitude,Locale_Code_NCES,FIPS_County,FIPS_State,Region_Code_AAM,Employer_ID,Tax_Period,Income,Revenue
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,NaN,NaN,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,9711 KENAI SPUR HWY,KENAI,AK,99611,NaN,NaN,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,NaN,NaN,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
5,8400200096,ALASKA HISTORICAL MUSEUM,ALASKA HISTORICAL MUSEUM INC,HISTORIC PRESERVATION,1675 E 5TH AVE,ANCHORAGE,AK,99501,NaN,NaN,...,61.21785,-149.85049,1.0,20.0,2.0,6,920062352,NaN,NaN,NaN
6,8400200078,ALASKA JEWISH MUSEUM,ALASKA JEWISH HISTORICAL MUSEUM AND CULTURAL C...,GENERAL MUSEUM,1117 E 35TH AVE,ANCHORAGE,AK,99508,1221 E 35TH AVENUE,ANCHORAGE,...,61.18946,-149.86071,1.0,20.0,2.0,6,711010049,201312.0,2658938.0,34374.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33062,8405600122,WYOMING SECONDARY ART EDUCATORS ASSOCIATION,WYOMING SECONDARY ART EDUCATORS ASSOCIATION INC,ART MUSEUM,601 GRACE AVE,WORLAND,WY,82401,NaN,NaN,...,44.01382,-107.96000,3.0,43.0,56.0,5,830265250,201312.0,43695.0,43695.0
33067,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,GENERAL MUSEUM,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,2301 CENTRAL AVENUE,CHEYENNE,...,41.13941,-104.81813,1.0,21.0,56.0,5,237368629,201404.0,0.0,0.0
33068,8405600158,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC,HISTORIC PRESERVATION,1273 N 15TH ST STE 121,LARAMIE,WY,82072,NaN,NaN,...,41.32276,-105.57686,3.0,1.0,56.0,5,830318392,201312.0,208508.0,83981.0
33069,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,HISTORY MUSEUM,PO BOX 704,CHEYENNE,WY,82003,121 W 15TH ST SUITE 300,CHEYENNE,...,41.13010,-104.81916,1.0,21.0,56.0,5,830295570,201309.0,0.0,0.0
33070,8405600199,YELLOWSTONE NATIONAL PARK,LITTLE PEOPLE LEARNING CENTER INC,HISTORIC PRESERVATION,NATIONAL PARK SERVICE,YELLOWSTONE NATIONAL PARK,WY,82190,NaN,NaN,...,44.91303,-110.41584,4.0,29.0,56.0,5,830249072,201312.0,127496.0,126762.0

In [7]:

# Check for Nulls in any colums
clean_museums_df.isna().any()

Museum_ID            False
Museum_Name          False
Legal_Name           False
Museum_Type          False
Street_Add_AdmLoc     True
City_AdmLoc          False
State_AdmLoc         False
Zip_AdmLoc           False
Street_Add_PhyLoc     True
City_PhyLoc           True
State_PhyLoc          True
Zip_PhyLoc            True
Phone_Number          True
Latitude              True
Longitude             True
Locale_Code_NCES      True
FIPS_County           True
FIPS_State           False
Region_Code_AAM      False
Employer_ID           True
Tax_Period            True
Income                True
Revenue               True
dtype: bool

In [8]:
# Get unique Museum_Type
Museum_Type_List = clean_museums_df['Museum_Type'].unique()
Museum_Type_df = pd.DataFrame(Museum_Type_List)


Museum_Type_df.rename(columns = {0:'Museum_Type'}, inplace = True)

Museum_Type_ID = pd.Series(np.arange(1,len(Museum_Type_df)+1))

Museum_Type_df['Museum_Type_ID'] = Museum_Type_ID

Museum_Type_df = Museum_Type_df[['Museum_Type_ID', 'Museum_Type']]
Museum_Type_df

# create a csv that cane be a postgres Museum_Type table
Museum_Type_df.to_csv('museum_type.csv' , index = False, header = True)

In [9]:
# check for duplicates

grp_df = pd.DataFrame(clean_museums_df.groupby('Museum_Name')['Museum_Name'].count())
grp_df.loc[grp_df['Museum_Name'] > 1]

                                      Museum_Name
Museum_Name
100TH MERIDIAN MUSEUM                           2
ADAIR COUNTY HISTORICAL SOCIETY                 2
ADAMS COUNTY HISTORICAL SOCIETY                 7
AFRICAN AMERICAN HERITAGE FOUNDATION            2
AFRICAN AMERICAN MUSEUM                         3
...                                           ...
WORCESTER HISTORICAL SOCIETY                    2
WORTHINGTON HISTORICAL SOCIETY                  2
WRIGHT COUNTY HISTORICAL SOCIETY                7
WYOMING STATE HISTORICAL SOCIETY                4
YORKTOWN HISTORICAL SOCIETY                     2

[817 rows x 1 columns]

In [10]:
# They are museums that are located in multiple locations (city, or state)
clean_museums_df.loc[clean_museums_df['Museum_Name'] == 'WRIGHT COUNTY HISTORICAL SOCIETY']

,Museum_ID,Museum_Name,Legal_Name,Museum_Type,Street_Add_AdmLoc,City_AdmLoc,State_AdmLoc,Zip_AdmLoc,Street_Add_PhyLoc,City_PhyLoc,...,Latitude,Longitude,Locale_Code_NCES,FIPS_County,FIPS_State,Region_Code_AAM,Employer_ID,Tax_Period,Income,Revenue
8219,8401900157,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY,HISTORIC PRESERVATION,PO BOX 63,WOOLSTOCK,IA,50599,223 EAST MAIN STREET,BELMOND,...,42.84600,-93.61447,4.0,197.0,19.0,4,204171290,201312.0,0.0,0.0
8220,8401900342,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY,HISTORIC PRESERVATION,615 5TH AVE NE,CLARION,IA,50525,NaN,NaN,...,42.87210,-93.60255,4.0,197.0,19.0,4,421047235,201312.0,0.0,0.0
8221,8401900680,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY,HISTORIC PRESERVATION,223 EAST MAIN,BELMOND,IA,50421,NaN,NaN,...,42.87210,-93.60255,4.0,197.0,19.0,4,510213714,201312.0,0.0,0.0
8222,8401900682,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY,HISTORIC PRESERVATION,LOCAL,GOLDFIELD,IA,50542,NaN,NaN,...,42.87210,-93.60255,4.0,197.0,19.0,4,510213721,201312.0,0.0,0.0
8223,8401900681,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY,HISTORIC PRESERVATION,1310 SW FIRST STREET,EAGLE GROVE,IA,50533,2001 MINNESOTA 25,BUFFALO,...,NaN,NaN,NaN,NaN,27.0,4,510213720,201312.0,13243.0,13243.0
15717,8402700352,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORIAL SOCIETY,HISTORIC PRESERVATION,101 LAKE BLVD NW,BUFFALO,MN,55313,2001 MINNESOTA 25,BUFFALO,...,45.17659,-93.86005,3.0,NaN,27.0,4,411293863,201312.0,285255.0,284765.0
16462,8402900445,WRIGHT COUNTY HISTORICAL SOCIETY,WRIGHT COUNTY HISTORICAL SOCIETY HWY 5 SOUTH,HISTORIC PRESERVATION,PO BOX 66,HARTVILLE,MO,65667,101 E ROLA STREET,HARTVILLE,...,37.25103,-92.51094,4.0,229.0,29.0,4,431487164,201412.0,0.0,0.0

In [11]:

# All required columns are clean with out any nulls which means ALL RECORDS are USEFUL
# The only fields that are required for our project but have some nulls are Latitude and Longitude

# Check to see how many records have missing lat, longs

Null_Lats = clean_museums_df[clean_museums_df['Latitude'].isna()]

Null_Lats 

Null_Longs = clean_museums_df[clean_museums_df['Longitude'].isna()]

Null_Longs

clean_museums_df[(clean_museums_df['Latitude'].isna()) & (clean_museums_df['Longitude'].isna()) ]

# Only 65 records found without latitude and longitude but they all seem to have correct addresses . 
# That means we keep these records and geocode then to get Coordinates
# Add this to our transform task list

clean_museums_df_no_lat_longs = clean_museums_df[(clean_museums_df['Latitude'].isna()) & (clean_museums_df['Longitude'].isna()) ]

In [12]:
# Next Street Address (Administrative Location)
Null_StAddAdmin= clean_museums_df[clean_museums_df['Street_Add_AdmLoc'].isna()]
Null_StAddAdmin

# Only 10 records found . So we keep and get the address

,Museum_ID,Museum_Name,Legal_Name,Museum_Type,Street_Add_AdmLoc,City_AdmLoc,State_AdmLoc,Zip_AdmLoc,Street_Add_PhyLoc,City_PhyLoc,...,Latitude,Longitude,Locale_Code_NCES,FIPS_County,FIPS_State,Region_Code_AAM,Employer_ID,Tax_Period,Income,Revenue
2086,8409400157,ELKHORN SLOUGH NATIONAL ESTUARINE RESEARCH RES...,ELKHORN SLOUGH NATIONAL ESTUARINE RESEARCH RES...,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,ELKHORN,CA,95039,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6,NaN,NaN,NaN,NaN
5477,8409400143,DELAWARE NATIONAL ESTUARINE RESEARCH RESERVE,DELAWARE NATIONAL ESTUARINE RESEARCH RESERVE,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,DOVER,DE,19901,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,2,NaN,NaN,NaN,NaN
5616,8409400050,APALACHICOLA NATIONAL ESTUARINE RESEARCH RESERVE,APALACHICOLA NATIONAL ESTUARINE RESEARCH RESERVE,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,EAST POINT,FL,32328,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,3,NaN,NaN,NaN,NaN
7270,8409400590,SAPELO ISLAND NATIONAL ESTUARINE RESEARCH RESERVE,SAPELO ISLAND NATIONAL ESTUARINE RESEARCH RESERVE,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,TOWNSEND,GA,31331,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,3,NaN,NaN,NaN,NaN
12117,8409400154,EAST TAUNTON BEER CAN MUSEUM,EAST TAUNTON BEER CAN MUSEUM,GENERAL MUSEUM,NaN,EAST TAUTON,MA,2718,NaN,NaN,...,NaN,NaN,NaN,NaN,25.0,1,NaN,NaN,NaN,NaN
16524,8409400221,GRAND BAY NATIONAL ESTUARINE RESEARCH RESERVE,GRAND BAY NATIONAL ESTUARINE RESEARCH RESERVE,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,MOSS POINT,MS,39562,NaN,NaN,...,NaN,NaN,NaN,NaN,28.0,3,NaN,NaN,NaN,NaN
21588,8409400546,PEALE'S BARBER FARM MASTODON EXHUMATION SITE,PEALE'S BARBER FARM MASTODON EXHUMATION SITE,GENERAL MUSEUM,NaN,MONTGOMERY,NY,12549,NaN,NaN,...,NaN,NaN,NaN,NaN,36.0,2,NaN,NaN,NaN,NaN
26525,8409400022,ACE BASIN NATIONAL ESTUARINE RESEARCH RESERVE,ACE BASIN NATIONAL ESTUARINE RESEARCH RESERVE,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,GREEN POND,SC,29446,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,3,NaN,NaN,NaN,NaN
26776,8409400517,NORTH INLET-WINYAH BAY NATIONAL ESTUARINE RESE...,NORTH INLET-WINYAH BAY NATIONAL ESTUARINE RESE...,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,NORTH INLET,SC,29440,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,3,NaN,NaN,NaN,NaN

In [13]:
# Next Street Address (Physical Location)
Null_StAddPLoc= clean_museums_df[clean_museums_df['Street_Add_PhyLoc'].isna()]
Null_StAddPLoc

# 23856 found that means their physical and admin locations must be same. 
# We will retrive street address if found or get admin address while rendering records. For now we keep this field

# Similar observation with city state zip for physical location. if missing we will use admin location values.

#checking to see how the ones with physical address look
bool_series = pd.notnull(clean_museums_df['Street_Add_PhyLoc'])
#clean_museums_df[bool_series]
#They are clean

In [14]:
# Next State Code (FIPS)
Null_stateFips= clean_museums_df[clean_museums_df['FIPS_State'].isna()]
#Null_stateFips

# Just one . we will add it to transform

In [15]:
# Next County Code (FIPS)
Null_CountyFips= clean_museums_df[clean_museums_df['FIPS_County'].isna()]
#Null_CountyFips

# 2536 found . we will add it to transform and get the countys based on lat long and add them

# Transform
 * clean_museums_df_no_lat_longs This dataset needs Latituded and Longitudes. Geo code the addresses and get coordinates
 * Null_stateFips needs state fips to be added. Only one record found. This can be dropped 
 * Null_CountyFips needs county fips. get the counties based on lat long and add them. 2536 records found

In [16]:
# clean_museums_df_no_lat_longs ####https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY
# https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY
# Null_stateFips ####Delete DONE
# Null_CountyFips #### https://geo.fcc.gov/api/census/block/find?latitude=59.24675&longitude=-135.47365&format=json

In [17]:
# https://geo.fcc.gov/api/census/block/find?latitude=59.24675&longitude=-135.47365&format=json

In [18]:
# drop this row because it does not have any key data
MID = Null_stateFips['Museum_ID']

In [19]:

# index_names = clean_museums_df[clean_museums_df['Museum_ID'].isin(MID)].index
 
# clean_museums_df.drop(index_names, inplace = True)
  
# clean_museums_df

#clean_museums_df.to_csv('museums_new.csv', index=False)